<!DOCTYPE html>

<html>

<head>
    <title>CCROP</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{ gmap.js }}
</head>

<body>

<div id = "maingmap" style= "float:left;">
    
    {{ gmap.html }}
</div>
<div id= "datepicker" style= "float:left;">
    <Label>Chose Date and time to show markers</Label>
   
    <br>
    <Label>Device:</Label>
     <select name="devices" id="devices">
    {% for device in devices %}
        <option value="{{ device }}">{{ device }}</option>
    {% endfor %}
    </select>
    <br>
    <Label>Start: </Label>
    <input type="datetime-local" id="start"
       name="Start Date" value={{ start }}>
    <br>
    <Label>End: </Label>
    <input type="datetime-local" id="end"
       name="End Date" value={{ end }} >
    <br>
    <Label>Total Samples: {{total_markers}}</Label>
    <br>
    <button id=analyze_all onclick="analyze_all()"> Analyze {{total_markers}} Samples</button>
    <br>
    <div id=results></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
var markers={}


devices.value='{{sel_device}}'
start.min='2021-08-12T08:00';

end.min='2021-08-12T08:00';
$("#start").change( function (){
    window.location = '/?start='+start.value+'&end='+end.value+'&guid='+devices.value;
});
$("#end").change( function (){
    window.location = '/?start='+start.value+'&end='+end.value+'&guid='+devices.value;
});
$("#devices").change( function (){
    window.location = '/?start='+start.value+'&end='+end.value+'&guid='+devices.value;
});

function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

function analyze_all() {
    $.ajax({
      url: "/analyze_all",
      type: "get",
      data: {start: start.value,end: end.value, device: devices.value},
      success: function(response) {
        results.html(response);
      },
      error: function(xhr) {
        //Do Something to handle error
      }
    });
    results.innerText='analyzing please wait pationtly';

};

function read_data(guid,id) {
    if (id in markers) {
    $.ajax({
      url: "/read",
      type: "get",
      data: {guid: guid, id: id},
      success: function(response) {
        $("#"+guid+'_'+id).html(response);
      },
      error: function(xhr) {
        //Do Something to handle error
      }
    });}
    else {
        console.log("Hello");
        sleep(3000).then(() => { markers[id]=true; console.log(id + " added to dict")});        
        
    };
};
function analyze(guid,id) {
    
    $.ajax({
      url: "/analyze",
      type: "get",
      data: {guid: guid, id: id},
      success: function(response) {
        $("#"+guid+'_'+id).html(response);
      },
      error: function(xhr) {
        //Do Something to handle error
      }
    });
};




</script>

</body>

</html>