<!DOCTYPE html>

<html>

<head>
    <title>Suggestions</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{ gmap.js }}
</head>

<body>

Search: <input type="text" id="search_form_input2"></input>
<div id = "maingmap">
    Search: <input type="text" id="search_form_input"></input>
    {{ gmap.html }}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>


$("#search_form_input").keyup(function(){
    var text = $(this).val();

    $.ajax({
      url: "/suggestions",
      type: "get",
      data: {jsdata: text},
      success: function(response) {
        $("div#1718").html(response);
      },
      error: function(xhr) {
        //Do Something to handle error
      }
    });
});
$('#maingmap').on('change', '#1718', function() {
  // DO STUFF!
    var text = "hello world"
    $.ajax({
      url: "/read",
      type: "get",
      data: {jsdata: text},
      success: function(response) {
        $("#17181").html(response);
      },
      error: function(xhr) {
        //Do Something to handle error
      }
    });
});
function read_data(id) {
    $.ajax({
      url: "/read",
      type: "get",
      data: {jsdata: id},
      success: function(response) {
        $("#1718").html(response);
      },
      error: function(xhr) {
        //Do Something to handle error
      }
    });
};

$('#maingmap').on('click', '#1718', function() {
  // DO STUFF!
    var text = "test this change"
    $.ajax({
      url: "/suggestions",
      type: "get",
      data: {jsdata: text},
      success: function(response) {
        $("#1718").html(response);
      },
      error: function(xhr) {
        //Do Something to handle error
      }
    });
});


</script>

</body>

</html>